In [1]:
import pandas as pd

In [2]:
dados_html = pd.read_html('Filmes_Wikipedia.html')

In [3]:
dados_html

[                                                    0  \
 0                                                1998
 1                                                1999
 2                                                2000
 3                                                2001
 4                                                2002
 5                                                2003
 6                                                2004
 7                                                2005
 8                                                2005
 9                                                2006
 10                                               2006
 11                                               2007
 12                                               2008
 13  .mw-parser-output .hlist dl,.mw-parser-output ...

                                                     1
 0                                          100 Movies
 1                                           100 Stars
 2                                          100 Laughs
 3                                         100 Thrills
 4                                        100 Passions
 5                               100 Heroes & Villains
 6                                           100 Songs
 7                                    100 Movie Quotes
 8                                           25 Scores
 9                                          100 Cheers
 10                                        25 Musicals
 11                               100 Movies (Updated)
 12                                    AFI's 10 Top 10
 13  .mw-parser-output .hlist dl,.mw-parser-output ...  ,
                              Film  Release year                   Director  \
 0                    Citizen Kane          1941               Orson Welles
 1                   The Godfather          1972       Francis Ford Coppola
 2                      Casablanca          1942             Michael Curtiz
 3                     Raging Bull          1980            Martin Scorsese
 4             Singin' in the Rain          1952  Gene Kelly, Stanley Donen
 ..                            ...           ...                        ...
 118                        Patton          1970      Franklin J. Schaffner
 119               The Jazz Singer          1927              Alan Crosland
 120                  My Fair Lady          1964               George Cukor
 121            A Place in the Sun          1951             George Stevens
 122  Guess Who's Coming to Dinner          1967             Stanley Kramer

                            Production companies 1998 Rank 2007 Rank
 0                            RKO Radio Pictures         1         1
 1        Paramount Pictures, Alfran Productions         3         2
 2                         Warner Bros. Pictures         2         3
 3                  Chartoff-Winkler Productions        24         4
 4                           Metro-Goldwyn-Mayer        10         5
 ..                                          ...       ...       ...
 118                            20th Century-Fox        89         -
 119  Warner Bros. Pictures, The Vitaphone Corp.        90         -
 120                       Warner Bros. Pictures        91         -
 121                          Paramount Pictures        92         -
 122                           Columbia Pictures        99         -

 [123 rows x 6 columns]]

In [4]:
type(dados_html)

list

In [5]:
len(dados_html)

2

In [6]:
top_filmes = dados_html[1]

In [7]:
top_filmes

,Film,Release year,Director,Production companies,1998 Rank,2007 Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1,1
1,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3,2
2,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2,3
3,Raging Bull,1980,Martin Scorsese,Chartoff-Winkler Productions,24,4
4,Singin' in the Rain,1952,"Gene Kelly, Stanley Donen",Metro-Goldwyn-Mayer,10,5
...,...,...,...,...,...,...
118,Patton,1970,Franklin J. Schaffner,20th Century-Fox,89,-
119,The Jazz Singer,1927,Alan Crosland,"Warner Bros. Pictures, The Vitaphone Corp.",90,-
120,My Fair Lady,1964,George Cukor,Warner Bros. Pictures,91,-
121,A Place in the Sun,1951,George Stevens,Paramount Pictures,92,-
122,Guess Who's Coming to Dinner,1967,Stanley Kramer,Columbia Pictures,99,-

In [8]:
top_filmes.to_html('top_filmes.html')